<%- include('partials/header'); -%>
<div class="expiriences">
  <h1 id="expirience-heading">Expiriences</h1>
  <div class="">
    <dl class="work">
      <dt>Agricultural Extension Agent</dt>
      <dd> <%= expirienceTwo %></dd>
    </dl>

    <dl class="work">
      <dt>Community health extension</dt>
      <dd>  <%= expirienceOne%> </dd>
    </dl>
    <dl class="work">
      <dt>Web Developer</dt>
      <dd>  <%= expirienceThree %> </dd>
    </dl>
  </div>
</div>


<%- include('partials/footer'); -%>
